@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Questrial&family=Roboto:wght@100;400;700&family=Sacramento&display=swap');


:root {
    --colbut: #C69C6D;
    --shadow: 0 2px 2px rgba(0, 0, 0, .5);
    --tangan: 'Sacramento', cursive;
    --biasa: 'Questrial', sans-serif;
    --om: 'Kaushan Script', cursive;
    --hitam: #212529;
}

body {
    font-size: 1.2rem;
    font-family: var(--biasa);
    min-height: 4000px;
    background-color: black;
}



.video {
    min-height: 100vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero p,
.hero h4 {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: var(--om);
    font-size: 5rem;
    color: var(--colbut);
}

.hero h4 {
    font-size: 1.5rem;
}

.hero p {
    font-size: 1.2rem;
}

.hero a {
    color: white;
    background-color: var(--colbut);
    box-shadow: var(--shadow);
}

.undangan {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    background-color: var(--colbut);
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    margin-top: 10px;
}

.custom-icon {
    font-size: 24px; /* Sesuaikan ukuran ikon */
    margin-right: 8px; /* Sesuaikan margin antara ikon dan teks */
    margin-bottom: 5px;
}




/* Navbar */


.navbar-brand {
    font-family: var(--om);
    font-size: 3rem;
}

.navbar-nav {
    text-align: center;
}


/* home */


.home {
    display: flex;
}

.home .container {
    margin-top: 6rem;
}

.home .boxs h3 {
    font-family: var(--om);
    color: #C69C6D;
    font-size: 3rem;
}
.home .boxs p {
    font-family: var(--biasa);
    color: white;
}



/* Info */

.info {
    color: white;
    padding-top: 2rem;
    padding-bottom: 8rem;
    background: rgb(58, 58, 58);
}

.info a {
    background-color: var(--colbut);
}

/* story */
.story {
    padding-bottom: 8rem;
}

.story span {
    text-transform: uppercase;
    color: white;
    font-size: .9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 2rem;
}

.story p {
    font-size: 1rem;
    font-weight: 300;

}

.timeline {
    list-style: none;
    padding:0;
    margin-top: 6rem;
    position: relative;
    color: white;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: white;
    left: 50%;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid var(--colbut);
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    padding: 2.5rem;
    position: relative;
    border: 2px solid var(--hitam);
    border-radius: 8px;
    background-color: black;
}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid var(--hitam);
    border-right: 0 solid var(--hitam);
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 16px solid black;
    border-right: 0 solid black;
    border-bottom: 15px solid transparent;
    top: 81px;
    right: -13px;

}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -12px;
    right: auto;
}
.timeline-heading h3 {
    font-family: var(--om);
    color: #C69C6D;
}


/* galery */

.galery img {
    width: auto;
    height: auto;
}

.gambar-icon-play {
    position: relative;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* Sesuaikan ukuran ikon */
    color: #fff; /* Sesuaikan warna ikon */
    opacity: 0.8; /* Sesuaikan kejelasan ikon */
    z-index: 1;
}


.box {
    padding: 0;
    margin: 10px 0px;
    text-align: center;
}

.boxs {
    padding: 20rem 0;
    margin: 10px 0px;
    text-align: center;
}

.container {
    max-width: 95%;
}

.foto-awal {
   width: 300px;
   height: 200px;
   border: 4px solid var(--colbut);
}

.ring {
    width: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Rasio aspek video 16:9 */
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.warna-btn {
    background-color: var(--colbut);
    color: black;
}

.warna-btn:hover {
    background-color: #fff;
}

footer {
    padding: 3rem;
    color: #fff;
    font-size: 15px;
}

footer svg:hover {
    color: var(--colbut);
}


/* audio */

.audio-icon {
    width: 3rem;
    height: 3rem;
    font-size: 4rem;
    color: white;
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    opacity: 0.5;
    mix-blend-mode: difference;
    cursor: pointer;
}





/* Media Query */

/* Laptop */
@media (max-width: 3000px) {
    html {
        font-size: 100%;
    }
    .foto-awal {
        width: 350px;
        height: 350px;
    }

}

/* Tablet */
@media (max-width: 1150px) {
    html {
        font-size: 80%;
    }
    .story {
        padding: 0;
    }
    
    .video {
        min-height: 100vh;
    }
    .foto-awal {
        width: 250px;
        height: 250px;
    }
    .boxs {
        padding: 15rem 0;
        text-align: center;
    }
}



/* Hp */
@media (max-width: 900px) {
    html {
        font-size: 60%;
    }
    .boxs {
        padding: 5rem 0;
    }

    .video {
        min-height: 100vh;
    }
    .custom-icon {
        font-size: 15px;
        margin-top: 2px;
    }
    .galery .container {
        padding-top: 3rem;
    }
    .story {
        padding-bottom: 2rem;
    }
    .sticky-top {
        overflow: hidden;
    }
    .foto-awal {
        width: 200px;
        height: 200px;
    }
    .boxs {
        padding: 15rem 0;
        text-align: center;
    }
    .timeline::before {
        left: 50px;
    }

    .timeline li .timeline-image {
        left: 10px;
        margin-left: 45px;
        top: 16px;
        width: 100px;
        height: 100px;
    }

    .timeline li .timeline-panel {
        width: calc(100% - 130px);
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }
}

@media (max-width: 760px) {
    .boxs {
        padding: 1rem;
        text-align: center;
    }
    .foto-awal {
        width: 200px;
        height: 200px;
    }
    .timeline::before {
        left: 50px;
    }

    .timeline li .timeline-image {
        left: 10px;
        margin-left: 45px;
        top: 16px;
        width: 100px;
        height: 100px;
    }

    .timeline li .timeline-panel {
        width: calc(100% - 130px);
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }
}

@media (max-width: 360px){
    .timeline::before {
        left: 50px;
    }

    .timeline li .timeline-image {
        left: 10px;
        margin-left: 45px;
        top: 16px;
        width: 100px;
        height: 100px;
    }

    .timeline li .timeline-panel {
        width: calc(100% - 130px);
        float: right;
    }

    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }
}
